<?xml version="1.0"?>
<openbox_menu>
  <menu id="root-menu">
    <item label="Terminal" icon="terminal">
      <action name="Execute" command="kitty --title home" />
    </item>
    <item label="Web Browser" icon="web-browser">
      <action name="Execute" command="flatpak run net.waterfox.waterfox" />
    </item>
    <item label="File Manager" icon="folder">
      <action name="Execute" command="pcmanfm-qt" />
    </item>
    <item label="Wallpaper">
      <action name="Execute" command="waypaper" />
    </item>
    <separator />
    <item label="Reconfigure Labwc" icon="system-settings">
      <action name="Reconfigure" />
    </item>
    <menu id="exit-menu" label="Power" icon="power">
      <item label="Logout" icon="exit">
        <action name="Execute" command="sc-logout" />
      </item>
      <item label="Reboot" icon="restart">
        <action name="Execute" command="loginctl reboot" />
      </item>
      <item label="Power Off" icon="shutdown">
        <action name="Execute" command="loginctl poweroff" />
      </item>
      <item label="Lock Screen" icon="lock">
        <action name="Execute" command="sc-screenlock" />
      </item>
    </menu>
  </menu>
</openbox_menu>
