@import "macchiato.css";

* {
  font-family: "JetBrains Mono Nerd Font", sans-serif;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  padding: 0;
  margin: 0;
}

#waybar {
  background: @crust;
  color: @text;
}

#memory,
#cpu {
  background: @yellow;
  color: @mantle;
  padding: 0 5px;
}

#battery,
#clock {
  background: @rosewater;
  color: @mantle;
  padding: 0 5px;
}

#clock,
#backlight,
#pulseaudio,
#battery {
  padding: 0 5px;
}

#workspaces button {
  color: @text;
  padding: 0 5px;
}

#workspaces button.active {
  background-color: @mauve;
  color: @mantle;
  border-radius: 0;
}

#workspaces button:hover {
  background-color: @overlay1;
  color: @mantle;
  border-radius: 0;
}

#taskbar button:hover {
  background: @base; /* SET THIS TO YOUR NORMAL BUTTON BACKGROUND COLOR */
  color: @text;           /* SET THIS TO YOUR NORMAL BUTTON TEXT COLOR */
  box-shadow: none;
  border: none;
}

#tray {
  background: @mantle;
  padding: 0 10px;
}
